/* Navbar.css */

/* Base styles */
.header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Distribute space between logo, links, and toggle */
    position: relative;
    height: var(--header-height);
    margin: 1rem;
    flex-wrap: nowrap; /* Ensure items stay on one line */
}



.nav__logo {
    color: #fff;
    font-size: 1.5rem;
    flex-shrink: 0; /* Prevent the logo from shrinking */
    animation: logoColorChange 10s infinite; /* Apply the color animation */
    font-weight: 500;
}

/* Keyframes for color animation */
@keyframes logoColorChange {
    0% {
        color: #589d8e; /* Starting color */
    }
    25% {
        color: #d4af37; /* Transition color */
    }
    50% {
        color: #f0f0f0; /* Another transition color */
    }
    75% {
        color: #b4cf68; /* Another transition color */
    }
    100% {
        color: #9b5b3c; /* Ending color matches the starting color for a seamless loop */
    }
}



.nav__list {
    display: flex;
    gap: 3rem; /* Space between the navigation links */
    margin-left: auto; /* Align the list to the right */
    flex-wrap: nowrap; /* Ensure items stay on one line */
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: #ddd;
    font-weight: 600;
    transition: color 0.4s;
    text-decoration: none; /* Remove underline from links */
}

.nav__link:hover {
    color: #f0f0f0;
}

.nav__cta {
    background-color: #d4af37;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    flex-shrink: 0; /* Prevent the button from shrinking */
    text-align: center;
}

.nav__cta:hover {
    background-color: #b4cf68;
    box-shadow: 0 0 10px gold;
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}