/* Navbar.css */

/* Base styles */
.header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1000; /* Ensure the header stays on top */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 1rem;
    background-color: #333; /* Example background color */
    z-index: 1000; /* Ensure the navbar stays on top */
    position: relative;
}

.nav__logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

.nav__list {
    display: flex;
    gap: 2rem;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: #ddd;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.4s;
}

.nav__link:hover {
    color: #f0f0f0;
}

.nav__cta {
    background-color: #d4af37;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
}

.nav__cta:hover {
    background-color: #b4cf68;
}

/* Hamburger menu styles */
.nav__toggle {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* Mobile Menu */
#nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu ul {
    display: flex;
    gap: 2rem;
}

/* Responsive design for screens smaller than 768px */
@media (max-width: 768px) {
    .nav__list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column; /* Stacks items vertically */
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 2000; /* Ensure the dropdown is on top of everything */
    }

    .nav__item {
        margin: 1rem 0; /* Space between items */
    }

    .nav__link {
        font-size: 1.5rem;
    }

    .nav__toggle {
        display: block;
        z-index: 2000; /* Ensure the toggle button stays on top */
    }

    .nav__list.show {
        right: 0;
    }
}
